In [139]:
import pandas as pd

In [140]:
rbis21 = pd.read_csv("data/rbis_21_data.csv")

In [141]:
rbis21

,INSPTN_OPS_DETAIL,INSPTN_TYP_CD,INSP_INSPECT_DT,INSPECTING_UNIT_CODE,BLDG_CURRENT_BIN_FK,BOROUGH,LATITUDE,LONGITUDE,COMMUNITYDISTRICT,CITYCOUNCILDISTRICT,BBL,Location 1
0,13772069,RISK,08/07/2020,B048,3026632,BK,40.66274,-73.98475,307.0,39.0,3.011040e+09,"(40.66274, -73.98475)"
1,13772067,RISK,08/07/2020,B048,3025908,BK,40.66667,-73.98058,306.0,39.0,3.010900e+09,"(40.66667, -73.98058)"
2,13772068,RISK,08/07/2020,B048,3126361,BK,NaN,NaN,NaN,NaN,NaN,NaN
3,13772071,RISK,08/07/2020,B048,3421702,BK,40.63385,-73.98213,312.0,44.0,3.053790e+09,"(40.63385, -73.98213)"
4,13772070,RISK,08/07/2020,B048,3855166,BK,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
14875,16805879,RISK,08/02/2021,E021,1019486,MN,40.74974,-73.97647,106.0,4.0,1.008950e+09,"(40.74974, -73.97647)"
14876,16810082,RISK,08/02/2021,E326,4452735,QN,40.74029,-73.76068,411.0,23.0,4.076360e+09,"(40.74029, -73.76068)"
14877,16814527,RISK,08/02/2021,E280,3029647,BK,40.67209,-73.96136,308.0,35.0,3.011800e+09,"(40.67209, -73.96136)"
14878,16814519,RISK,08/02/2021,L003,1009397,MN,40.73508,-73.99218,102.0,2.0,1.005710e+09,"(40.73508, -73.99218)"
14879,16807403,RISK,08/02/2021,E159,5051105,SI,40.58194,-74.09887,502.0,50.0,5.035590e+09,"(40.58194, -74.09887)"

In [142]:
## Okay, lets start cleaning and tidying. 
## first lets make these column headers more simple and easy to work with.
## making column headers all lower case and more clear

In [143]:
rbis21.rename(columns = {"INSPTN_OPS_DETAIL": "inspection_id", 
                          "INSPTN_TYP_CD" : "inspection_type", 
                          "INSP_INSPECT_DT" : "inspection_date",
                         "INSPECTING_UNIT_CODE" : "inspecting_unit",
                         "BLDG_CURRENT_BIN_FK" : "building_id",
                         "BOROUGH" : "borough",
                         "LATITUDE" : "latitude",
                         "LONGITUDE" : "longitude",
                         "COMMUNITYDISTRICT" : "community_district",
                         "CITYCOUNCILDISTRICT" : "council_district",
                         "BBL" : "bbl",
                         "Location 1" : "location"}, inplace = True)

In [144]:
## checking for duplicates
rbis21[rbis21.duplicated()]

Empty DataFrame
Columns: [inspection_id, inspection_type, inspection_date, inspecting_unit, building_id, borough, latitude, longitude, community_district, council_district, bbl, location]
Index: []

In [145]:
## great, no duplicates. 
## what about NaN's?
rbis21.isna().any()

inspection_id         False
inspection_type       False
inspection_date       False
inspecting_unit       False
building_id           False
borough               False
latitude               True
longitude              True
community_district     True
council_district       True
bbl                    True
location               True
dtype: bool

In [146]:
## community district is important to analysis on a granular level. checking how many NaN's there are in that column
rbis21[rbis21["community_district"].isna()]

,inspection_id,inspection_type,inspection_date,inspecting_unit,building_id,borough,latitude,longitude,community_district,council_district,bbl,location
2,13772068,RISK,08/07/2020,B048,3126361,BK,NaN,NaN,NaN,NaN,NaN,NaN
4,13772070,RISK,08/07/2020,B048,3855166,BK,NaN,NaN,NaN,NaN,NaN,NaN
48,13968293,RISK,08/31/2020,L129,4115064,QN,NaN,NaN,NaN,NaN,NaN,NaN
84,14012577,RISK,09/02/2020,E261,4438278,QN,NaN,NaN,NaN,NaN,NaN,NaN
111,14023901,RISK,09/03/2020,L046,2128216,BX,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
14017,16774562,RISK,07/27/2021,L076,5811532,SI,NaN,NaN,NaN,NaN,NaN,NaN
14083,16768503,RISK,07/27/2021,E221,3414037,BK,NaN,NaN,NaN,NaN,NaN,NaN
14501,16783613,RISK,07/29/2021,L102,3048919,BK,NaN,NaN,NaN,NaN,NaN,NaN
14735,16810348,RISK,08/02/2021,L010,1090819,MN,NaN,NaN,NaN,NaN,NaN,NaN
14752,16805611,RISK,08/02/2021,L152,4864460,QN,NaN,NaN,NaN,NaN,NaN,NaN

In [147]:
## 85 rows out of a total of 14880 rows
85 / 14880

0.00571236559139785

In [148]:
## thats less than one percent, scraping that data would be a very long process without statistical significance,
## so I feel good about letting it go.

In [149]:
## Now, a bunch of these columns are unnecessary extras, lets remove them to get a cleaner view

In [150]:
rbis21 = rbis21[["inspection_id",
                 "inspection_date",
                  "inspecting_unit",
                  "building_id",
                  "borough", 
                  "community_district",
                  "council_district",
                  "bbl"]]

In [151]:
rbis21

,inspection_id,inspection_date,inspecting_unit,building_id,borough,community_district,council_district,bbl
0,13772069,08/07/2020,B048,3026632,BK,307.0,39.0,3.011040e+09
1,13772067,08/07/2020,B048,3025908,BK,306.0,39.0,3.010900e+09
2,13772068,08/07/2020,B048,3126361,BK,NaN,NaN,NaN
3,13772071,08/07/2020,B048,3421702,BK,312.0,44.0,3.053790e+09
4,13772070,08/07/2020,B048,3855166,BK,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
14875,16805879,08/02/2021,E021,1019486,MN,106.0,4.0,1.008950e+09
14876,16810082,08/02/2021,E326,4452735,QN,411.0,23.0,4.076360e+09
14877,16814527,08/02/2021,E280,3029647,BK,308.0,35.0,3.011800e+09
14878,16814519,08/02/2021,L003,1009397,MN,102.0,2.0,1.005710e+09
14879,16807403,08/02/2021,E159,5051105,SI,502.0,50.0,5.035590e+09

In [152]:
## what we really care about here is the number of inspections by community district, so lets take a value count
## and save it into a new dataframe

In [153]:
rbis21_cd = rbis21["community_district"].value_counts()

In [154]:
rbis21_cd

501.0    800
414.0    587
503.0    586
407.0    538
502.0    489
        ...
484.0     11
228.0      4
481.0      2
227.0      1
595.0      1
Name: community_district, Length: 64, dtype: int64

In [155]:
## Lets store this into a new dataframe

In [156]:
rbis21_cd = rbis21_cd.to_frame().reset_index()

In [157]:
rbis21_cd

    index  community_district
0   501.0                 800
1   414.0                 587
2   503.0                 586
3   407.0                 538
4   502.0                 489
..    ...                 ...
59  484.0                  11
60  228.0                   4
61  481.0                   2
62  227.0                   1
63  595.0                   1

[64 rows x 2 columns]

In [158]:
## gotta rename the columns
rbis21_cd.rename(columns = {"index": "community_district",
                           "community_district": "total_inspections"}, inplace = True)
rbis21_cd.index.name = 'index'

In [159]:
rbis21_cd

       community_district  total_inspections
index
0                   501.0                800
1                   414.0                587
2                   503.0                586
3                   407.0                538
4                   502.0                489
...                   ...                ...
59                  484.0                 11
60                  228.0                  4
61                  481.0                  2
62                  227.0                  1
63                  595.0                  1

[64 rows x 2 columns]

In [160]:
## Now we need to compare these numbers to the toatl numbers of structural fires
## let's import the fire dispatch data for structural fires during the same time frame

In [161]:
fires21 = pd.read_csv("data/fire_dispatch21.csv")

In [162]:
fires21

,STARFIRE_INCIDENT_ID,INCIDENT_DATETIME,ALARM_BOX_BOROUGH,ALARM_BOX_NUMBER,ALARM_BOX_LOCATION,INCIDENT_BOROUGH,ZIPCODE,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,...,FIRST_ACTIVATION_DATETIME,FIRST_ON_SCENE_DATETIME,INCIDENT_CLOSE_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,VALID_INCIDENT_RSPNS_TIME_INDC,INCIDENT_RESPONSE_SECONDS_QY,INCIDENT_TRAVEL_TM_SECONDS_QY,ENGINES_ASSIGNED_QUANTITY,LADDERS_ASSIGNED_QUANTITY,OTHER_UNITS_ASSIGNED_QUANTITY
0,2021516050140014,08/02/2020 12:19:45 AM,BROOKLYN,1605,UTICA AVE & CROWN ST,BROOKLYN,11213.0,71.0,41.0,309.0,...,08/02/2020 12:20:29 AM,08/02/2020 12:22:50 AM,08/02/2020 12:30:37 AM,N,Y,185,155,3,2,1
1,2021522730120050,08/02/2020 12:27:38 AM,BRONX,2273,GRAND CONCOURSE & 153 ST,BRONX,10451.0,44.0,17.0,204.0,...,08/02/2020 12:28:17 AM,08/02/2020 12:32:27 AM,08/02/2020 12:45:51 AM,N,Y,289,265,3,3,1
2,2021515830110081,08/02/2020 02:15:20 AM,MANHATTAN,1583,BROADWAY & 139 ST,MANHATTAN,10031.0,30.0,7.0,109.0,...,08/02/2020 02:16:13 AM,08/02/2020 02:19:11 AM,08/02/2020 06:29:37 AM,N,Y,231,203,10,7,16
3,2021516050110122,08/02/2020 03:59:49 AM,MANHATTAN,1605,POWELL BLVD & W 142 ST,MANHATTAN,10030.0,32.0,9.0,110.0,...,08/02/2020 04:01:15 AM,08/02/2020 04:04:49 AM,08/02/2020 04:33:20 AM,N,Y,300,258,2,2,1
4,2021527670120182,08/02/2020 04:10:13 AM,BRONX,2767,FULTON AVE & 171 ST,BRONX,10456.0,42.0,16.0,203.0,...,08/02/2020 04:11:16 AM,08/02/2020 04:16:14 AM,08/02/2020 04:26:59 AM,N,Y,361,317,3,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24381,2121306940941080,08/01/2021 10:52:59 PM,BROOKLYN,694,MYRTLE AVE & THROOP AVE,BROOKLYN,11206.0,79.0,36.0,303.0,...,08/01/2021 10:53:44 PM,08/01/2021 10:55:35 PM,08/01/2021 11:25:38 PM,N,Y,156,123,3,2,1
24382,2121313230111090,08/01/2021 11:01:48 PM,MANHATTAN,1323,BROADWAY & 108 ST,MANHATTAN,10025.0,24.0,7.0,107.0,...,08/01/2021 11:02:31 PM,08/01/2021 11:05:37 PM,08/01/2021 11:18:54 PM,N,Y,229,196,3,2,1
24383,2121327480720900,08/01/2021 11:04:27 PM,BRONX,2748,WASHINGTON AVE & 170 ST,BRONX,10456.0,42.0,16.0,203.0,...,08/01/2021 11:04:50 PM,08/01/2021 11:08:45 PM,08/01/2021 11:58:32 PM,N,Y,258,242,4,2,2
24384,2121329920320910,08/01/2021 11:12:02 PM,BRONX,2992,HARRISON AVE OPP KINGSLAND PL,BRONX,10453.0,46.0,14.0,205.0,...,08/01/2021 11:12:35 PM,08/01/2021 11:18:04 PM,08/01/2021 11:57:13 PM,N,Y,362,336,3,2,1
24385,2121315580110000,08/01/2021 11:59:54 PM,MANHATTAN,1558,BROADWAY & 135 ST,MANHATTAN,NaN,NaN,NaN,NaN,...,08/02/2021 12:00:45 AM,NaN,08/02/2021 12:00:45 AM,N,N,0,0,4,2,1

In [163]:
## lets check for dups and Nans before dropping columns that we don't need and renaming columns
fires21[fires21.duplicated()]

,STARFIRE_INCIDENT_ID,INCIDENT_DATETIME,ALARM_BOX_BOROUGH,ALARM_BOX_NUMBER,ALARM_BOX_LOCATION,INCIDENT_BOROUGH,ZIPCODE,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,...,FIRST_ACTIVATION_DATETIME,FIRST_ON_SCENE_DATETIME,INCIDENT_CLOSE_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,VALID_INCIDENT_RSPNS_TIME_INDC,INCIDENT_RESPONSE_SECONDS_QY,INCIDENT_TRAVEL_TM_SECONDS_QY,ENGINES_ASSIGNED_QUANTITY,LADDERS_ASSIGNED_QUANTITY,OTHER_UNITS_ASSIGNED_QUANTITY
13051,2103910000000000,02/08/2021 09:41:00 AM,RICHMOND / STATEN ISLAND,996,LOCKMAN AVE & BRABANT ST,RICHMOND / STATEN ISLAND,10303.0,121.0,49.0,501.0,...,NaN,NaN,02/08/2021 09:50:00 AM,N,N,0,0,0,0,0
13054,2103910000000000,02/08/2021 09:42:00 AM,RICHMOND / STATEN ISLAND,996,LOCKMAN AVE & BRABANT ST,RICHMOND / STATEN ISLAND,10303.0,121.0,49.0,501.0,...,NaN,NaN,02/08/2021 09:50:00 AM,N,N,0,0,0,0,0
13055,2103910000000000,02/08/2021 09:42:00 AM,RICHMOND / STATEN ISLAND,996,LOCKMAN AVE & BRABANT ST,RICHMOND / STATEN ISLAND,10303.0,121.0,49.0,501.0,...,NaN,NaN,02/08/2021 09:50:00 AM,N,N,0,0,0,0,0
13057,2103910000000000,02/08/2021 09:43:00 AM,RICHMOND / STATEN ISLAND,996,LOCKMAN AVE & BRABANT ST,RICHMOND / STATEN ISLAND,10303.0,121.0,49.0,501.0,...,NaN,NaN,02/08/2021 09:49:00 AM,N,N,0,0,0,0,0
13058,2103910000000000,02/08/2021 09:43:00 AM,RICHMOND / STATEN ISLAND,996,LOCKMAN AVE & BRABANT ST,RICHMOND / STATEN ISLAND,10303.0,121.0,49.0,501.0,...,NaN,NaN,02/08/2021 09:49:00 AM,N,N,0,0,0,0,0
16367,2108640000000000,03/27/2021 10:02:00 PM,RICHMOND / STATEN ISLAND,4391,PLEASANT PLAINS AVE & AMBOY RD,RICHMOND / STATEN ISLAND,10309.0,123.0,51.0,503.0,...,NaN,NaN,03/27/2021 10:04:00 PM,N,N,0,0,0,0,0
16368,2108640000000000,03/27/2021 10:02:00 PM,RICHMOND / STATEN ISLAND,4391,PLEASANT PLAINS AVE & AMBOY RD,RICHMOND / STATEN ISLAND,10309.0,123.0,51.0,503.0,...,NaN,NaN,03/27/2021 10:04:00 PM,N,N,0,0,0,0,0
16369,2108640000000000,03/27/2021 10:02:00 PM,RICHMOND / STATEN ISLAND,4391,PLEASANT PLAINS AVE & AMBOY RD,RICHMOND / STATEN ISLAND,10309.0,123.0,51.0,503.0,...,NaN,NaN,03/27/2021 10:04:00 PM,N,N,0,0,0,0,0

In [164]:
fires21.drop_duplicates(subset = None, keep = 'first', inplace = True, ignore_index = False)

In [165]:
fires21[fires21.duplicated()]

Empty DataFrame
Columns: [STARFIRE_INCIDENT_ID, INCIDENT_DATETIME, ALARM_BOX_BOROUGH, ALARM_BOX_NUMBER, ALARM_BOX_LOCATION, INCIDENT_BOROUGH, ZIPCODE, POLICEPRECINCT, CITYCOUNCILDISTRICT, COMMUNITYDISTRICT, COMMUNITYSCHOOLDISTRICT, CONGRESSIONALDISTRICT, ALARM_SOURCE_DESCRIPTION_TX, ALARM_LEVEL_INDEX_DESCRIPTION, HIGHEST_ALARM_LEVEL, INCIDENT_CLASSIFICATION, INCIDENT_CLASSIFICATION_GROUP, DISPATCH_RESPONSE_SECONDS_QY, FIRST_ASSIGNMENT_DATETIME, FIRST_ACTIVATION_DATETIME, FIRST_ON_SCENE_DATETIME, INCIDENT_CLOSE_DATETIME, VALID_DISPATCH_RSPNS_TIME_INDC, VALID_INCIDENT_RSPNS_TIME_INDC, INCIDENT_RESPONSE_SECONDS_QY, INCIDENT_TRAVEL_TM_SECONDS_QY, ENGINES_ASSIGNED_QUANTITY, LADDERS_ASSIGNED_QUANTITY, OTHER_UNITS_ASSIGNED_QUANTITY]
Index: []

[0 rows x 29 columns]

In [166]:
## check for Nans in the community district column, since that's the value that's important to our analysis
fires21[fires21["COMMUNITYDISTRICT"].isna()]

,STARFIRE_INCIDENT_ID,INCIDENT_DATETIME,ALARM_BOX_BOROUGH,ALARM_BOX_NUMBER,ALARM_BOX_LOCATION,INCIDENT_BOROUGH,ZIPCODE,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,...,FIRST_ACTIVATION_DATETIME,FIRST_ON_SCENE_DATETIME,INCIDENT_CLOSE_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,VALID_INCIDENT_RSPNS_TIME_INDC,INCIDENT_RESPONSE_SECONDS_QY,INCIDENT_TRAVEL_TM_SECONDS_QY,ENGINES_ASSIGNED_QUANTITY,LADDERS_ASSIGNED_QUANTITY,OTHER_UNITS_ASSIGNED_QUANTITY
52,2021607500140005,08/03/2020 12:06:43 AM,BROOKLYN,750,CYPRESS AVE & STANHOPE ST,BROOKLYN,NaN,NaN,NaN,NaN,...,08/03/2020 12:08:49 AM,08/03/2020 12:09:51 AM,08/03/2020 12:11:50 AM,N,Y,188,137,1,1,0
157,2021840490150020,08/05/2020 12:06:04 AM,QUEENS,4049,ST. NICHOLAS AVE & LINDEN ST,QUEENS,NaN,NaN,NaN,NaN,...,08/05/2020 12:06:57 AM,08/05/2020 12:08:43 AM,08/05/2020 12:20:34 AM,N,Y,159,123,3,2,1
244,2021970980140816,08/06/2020 02:42:09 PM,BROOKLYN,7098,BMT J&M @ FLUSHING AVE & BWAY,BROOKLYN,NaN,NaN,NaN,NaN,...,08/06/2020 02:43:31 PM,08/06/2020 02:46:23 PM,08/06/2020 03:08:39 PM,N,Y,254,181,3,2,1
360,2022181710110492,08/08/2020 11:51:07 AM,MANHATTAN,8171,33 ST & 8 AV-PENN TERM-PD OFFICE,MANHATTAN,NaN,NaN,NaN,NaN,...,08/08/2020 11:53:28 AM,08/08/2020 11:57:20 AM,08/08/2020 12:44:52 PM,N,Y,373,250,3,2,3
496,2022303020151031,08/10/2020 08:28:48 PM,QUEENS,302,JFK AIRPORT - TERMINALS 1-8->,QUEENS,NaN,NaN,NaN,NaN,...,08/10/2020 08:29:38 PM,08/10/2020 08:37:59 PM,08/10/2020 11:30:58 PM,N,Y,551,517,6,3,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23809,2120484810150080,07/23/2021 03:12:50 AM,QUEENS,8481,GATEWAY PARK ROCKAWAY ZONE,QUEENS,NaN,NaN,NaN,NaN,...,07/23/2021 03:13:48 AM,07/23/2021 03:20:30 AM,07/23/2021 04:21:09 AM,N,Y,460,402,3,2,3
24062,2120806930211110,07/27/2021 05:57:42 PM,MANHATTAN,693,11 AVE BET W 30 ST & W 33 ST,MANHATTAN,NaN,NaN,NaN,NaN,...,07/27/2021 05:58:14 PM,07/27/2021 06:03:31 PM,07/27/2021 06:35:16 PM,N,Y,349,326,3,2,2
24079,2120800830411380,07/27/2021 09:45:57 PM,MANHATTAN,83,WEST ST & VESEY ST,MANHATTAN,NaN,NaN,NaN,NaN,...,07/27/2021 09:46:57 PM,07/27/2021 09:50:50 PM,07/27/2021 10:12:42 PM,N,Y,293,244,1,1,1
24165,2121084820150590,07/29/2021 04:44:56 PM,QUEENS,8482,RIKERS ISL- PRISON HOSP- 14-14 HAZEN ST,QUEENS,NaN,NaN,NaN,NaN,...,07/29/2021 04:46:23 PM,07/29/2021 04:47:44 PM,07/29/2021 05:05:42 PM,N,Y,168,92,3,2,4
24385,2121315580110000,08/01/2021 11:59:54 PM,MANHATTAN,1558,BROADWAY & 135 ST,MANHATTAN,NaN,NaN,NaN,NaN,...,08/02/2021 12:00:45 AM,NaN,08/02/2021 12:00:45 AM,N,N,0,0,4,2,1

In [167]:
##138 rows out of 24386 rows
138 / 24386

0.00565898466333142

In [168]:
## Again this is less than one percent of rows. We will keep going 
## now lets drop the columns we don't need, then rename the ones we will be using. 

fires21 = fires21[["STARFIRE_INCIDENT_ID",
                  "INCIDENT_DATETIME",
                  "COMMUNITYDISTRICT"]]

In [169]:
fires21

       STARFIRE_INCIDENT_ID       INCIDENT_DATETIME  COMMUNITYDISTRICT
0          2021516050140014  08/02/2020 12:19:45 AM              309.0
1          2021522730120050  08/02/2020 12:27:38 AM              204.0
2          2021515830110081  08/02/2020 02:15:20 AM              109.0
3          2021516050110122  08/02/2020 03:59:49 AM              110.0
4          2021527670120182  08/02/2020 04:10:13 AM              203.0
...                     ...                     ...                ...
24381      2121306940941080  08/01/2021 10:52:59 PM              303.0
24382      2121313230111090  08/01/2021 11:01:48 PM              107.0
24383      2121327480720900  08/01/2021 11:04:27 PM              203.0
24384      2121329920320910  08/01/2021 11:12:02 PM              205.0
24385      2121315580110000  08/01/2021 11:59:54 PM                NaN

[24378 rows x 3 columns]

In [170]:
## okay now lets rename those columns

In [171]:
fires21.rename(columns = {'STARFIRE_INCIDENT_ID': 'incident_id',
                                   'INCIDENT_DATETIME': 'datetime',
                                   'COMMUNITYDISTRICT': 'community_district'}, inplace = True)

/usr/local/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [172]:
fires21

            incident_id                datetime  community_district
0      2021516050140014  08/02/2020 12:19:45 AM               309.0
1      2021522730120050  08/02/2020 12:27:38 AM               204.0
2      2021515830110081  08/02/2020 02:15:20 AM               109.0
3      2021516050110122  08/02/2020 03:59:49 AM               110.0
4      2021527670120182  08/02/2020 04:10:13 AM               203.0
...                 ...                     ...                 ...
24381  2121306940941080  08/01/2021 10:52:59 PM               303.0
24382  2121313230111090  08/01/2021 11:01:48 PM               107.0
24383  2121327480720900  08/01/2021 11:04:27 PM               203.0
24384  2121329920320910  08/01/2021 11:12:02 PM               205.0
24385  2121315580110000  08/01/2021 11:59:54 PM                 NaN

[24378 rows x 3 columns]

In [173]:
## lets check the value counts to get numbers of actual structural fires in each community district for that year